<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>나의 청춘 기록</string>
		<key>Photo</key>
		<string>1rjpEYJ0oZNNbkZ8OugMCtabwKW</string>
		<key>Category</key>
		<string>인트로</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>거울아 거울아</string>
		<key>Photo</key>
		<string>1rmprMBNAQXr8oiOG0Dx5lHIB1c</string>
		<key>Category</key>
		<string>브이로그</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>동물 스케치</string>
		<key>Photo</key>
		<string>1rmz3vIDf9maPExwHGRGEKdoRbk</string>
		<key>Category</key>
		<string>뮤직 비디오</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>나만의 컬러 : 겨울</string>
		<key>Photo</key>
		<string>1rp0cKsUPutcHE8ZPJIaWm3CFWF</string>
		<key>Category</key>
		<string>비트</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>포토 더블 스크린</string>
		<key>Photo</key>
		<string>1s3F8SEX2K8OYMkwxw5PMQXrT02</string>
		<key>Category</key>
		<string>심플</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>재즈 비트</string>
		<key>Photo</key>
		<string>1s3FsjCMygG0Z2ZNiAQ2qfXBpSh</string>
		<key>Category</key>
		<string>비트</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>비디오 캘린더</string>
		<key>Photo</key>
		<string>1s3G9DtVhFewyPALJomJ0FExvvO</string>
		<key>Category</key>
		<string>인트로</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>인 블루</string>
		<key>Photo</key>
		<string>1s3GL8lcCJg7UxWtqQAYoRmq3rH</string>
		<key>Category</key>
		<string>레트로</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>심플 블랙</string>
		<key>Photo</key>
		<string>1s3GWnCzJAFHXrHeDeoh23u33SP</string>
		<key>Category</key>
		<string>심플</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>지금 내 기분 마치 편집샵</string>
		<key>Photo</key>
		<string>1s3HG2LM5YnCMmFZR6D8bbINPZf</string>
		<key>Category</key>
		<string>예능</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>러블리 무드 인트로</string>
		<key>Photo</key>
		<string>1s3Hjk2FhBoQCWUO1A5ntenOWvk</string>
		<key>Category</key>
		<string>인트로</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>추억의 8090 : 레트로 게임</string>
		<key>Photo</key>
		<string>1s3HSnkQsgwVuZN6ybKYpNnVFZJ</string>
		<key>Category</key>
		<string>레트로</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>나만의 추억 저장 방법, 포토북</string>
		<key>Photo</key>
		<string>1s3HsO95X5qEHxkhYvVzSNCE9VV</string>
		<key>Category</key>
		<string>뮤직 비디오</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>CITY OF LOVE</string>
		<key>Photo</key>
		<string>1seJnZ6TRv54soqkrx6VvLYKN3F</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>손들고 리듬에 맞춰!</string>
		<key>Photo</key>
		<string>1seJZ3xZsxv3L6cAPae3KNLtXch</string>
		<key>Category</key>
		<string>예능</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>동물 스케치</string>
		<key>Photo</key>
		<string>1seKOQ6cvFextlHFBxDW5n1nh4Z</string>
		<key>Category</key>
		<string>브이로그</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>레인 댄스</string>
		<key>Photo</key>
		<string>1seMCtO2fKp3nq2y3pSf3ANr1F5</string>
		<key>Category</key>
		<string>예능</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>내 일상 공유하기 1</string>
		<key>Photo</key>
		<string>1sgs7f6CKt1eS16gQmGYsEc9lyx</string>
		<key>Category</key>
		<string>브이로그</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>코인 댄스</string>
		<key>Photo</key>
		<string>1sgsJeH1BmtqpreJgLZbovKib7k</string>
		<key>Category</key>
		<string>예능</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>내 일상 공유하기 2</string>
		<key>Photo</key>
		<string>1shGFD6iQye10eLU4H8AoLZEawk</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>비디오 카툰</string>
		<key>Photo</key>
		<string>1sNalogNxRqVOYEUgdqJdI7NIpH</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>HELLO! (이모티콘)</string>
		<key>Photo</key>
		<string>1sNb1bnaH9kQsZat9d9xKiRsUR7</string>
		<key>Category</key>
		<string>심플</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>봄 청춘</string>
		<key>Photo</key>
		<string>1sNmKQgXZSadhOzB1PcF0byTt6M</string>
		<key>Category</key>
		<string>뮤직 비디오</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>나랑 별 보러 가지 않을래?</string>
		<key>Photo</key>
		<string>1sNXwaaVIXfb0pFXC3hfjMqXaw3</string>
		<key>Category</key>
		<string>뮤직 비디오</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>실패 없는 유성 사진 촬영 꿀팁!</string>
		<key>Photo</key>
		<string>1sNYcuQ0NYDMSWrKFiZm4JxgqpB</string>
		<key>Category</key>
		<string>심플</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>그린 하프톤 매거진</string>
		<key>Photo</key>
		<string>1sNYIdmWnLkIi1PNMuISCMEtGVE</string>
		<key>Category</key>
		<string>뮤직 비디오</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>너만을 위한 스카이뷰</string>
		<key>Photo</key>
		<string>1sQOPSZrEAgOVxNikoRQiBVofuK</string>
		<key>Category</key>
		<string>인트로</string>
	</dict>
</array>
</plist>
